.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding-top: 70px;
  min-height: calc(100vh - 70px);
  background-color: var(--bg-white);
  flex: 1;
}


@media (max-width: 768px) {
  main {
      padding-top: 60px;
      
  }
}